.hotel_description_title {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #191919;
    letter-spacing: 3px;
}
.hotel_description_description {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #191919;
    letter-spacing: 3px;
    opacity: 80%;
}