.dining {
    display: flex;
    flex-direction: column;
    padding: 180px 0 240px 0 ;
}
.dining_title {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    color: #191919;
    font-size: 100px;
    letter-spacing: 3px;
}
.dining_description {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    color: #191919;
    font-size: 28px;
}