.rooms_reserve {
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
}
.rooms_background_img{
    width: 757px;
    height: 1000px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 50px 50px 0;
}
.rooms_reserve_btn {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #fffcf6;
    background-color: #9d835a;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.rooms_reserve_btn:hover {
    background-color: #886D42;
}

.rooms_left_title {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    color: #191919;
    font-size: 40px;
    letter-spacing: 3px;
    padding-top: 50px;
    white-space: normal;
    word-break: keep-all;
}
.rooms_left_description {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    color: #191919;
    font-size: 20px;
    opacity: 80%;
    white-space: normal;
    word-break: keep-all;
}
.rooms_arrow_btn {
    position: relative;
    left: -65px;
}