.about {
    display: flex;
    flex-direction: column;
    padding: 150px 120px 0 0;
}

.about_title {
    font-family: "albertusNova";
    color: #9d835a;
    display: flex;
    text-align: right;
    line-height: 1;
    font-size: 100px;
    margin-bottom: 120px;
}
.about_text {
    width: 427px;
    display: flex;
}
.about_subtitle {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    color: #191919;
    font-size: 50px;
    letter-spacing: 3px;
    margin-bottom: 40px;
}
.about_description {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    color: #191919;
    font-size: 18px;
    line-height: 1.6;
    opacity: 64%;
}