.location_flex {
    background-color: #9d835a;
    color: #fffcf6;
    width: 960px;
    height: 960px;
    padding: 150px;
    flex-direction: column; /* 위에서 아래로 배치 */
    justify-content: center; /* 세로 중앙 */
}
.location_title01 {
    font-family: "albertusNova";
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 1.1;
    padding-bottom: 100px;
}
.location_title02 {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 1.1;
    padding-bottom: 100px;
}
.location_text {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 1.1;

}