.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
}

.gallery_title {
    font-family: "albertusNova";
    color: #9d835a;
    font-size: 173px;
    letter-spacing: 4px;
    line-height: 1.1;
    padding-bottom: 30px;
}

.gallery_description {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    color: #191919;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    opacity: 80%;
}