.rooms_left_title01, .rooms_left_title02, .rooms_left_title03 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    color: #191919;
    font-size: 40px;
    letter-spacing: 3px;
    padding-top: 50px;
}
.rooms_left_description01, .rooms_left_description02, .rooms_left_description03 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    color: #191919;
    font-size: 20px;
    opacity: 80%;
}
.rooms_arrow_btn {
    position: relative;
    left: -65px;
}