.combobox_btn {
  color: #191919;
  font-size: 14px;
  font-weight: 400;
  padding: 0;

  &[data-transparent = 'true'] {
    background-color: transparent;
  }

  &:hover {
    color: #191919;
    background-color: transparent;
  }
}