.of_section03 {
    display: flex;
    align-items: center;
    gap: 180px;
}
.of_section_title03_1, .of_section_title03_2 {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    color: #191919;
    font-size: 80px;
    letter-spacing: 3px;
}