.rooms {
  display: flex;
  flex-direction: column;
  padding-top: 300px;
}

.rooms_title {
  font-family: "albertusNova";
  color: #191919;
  font-size: 148px;
  letter-spacing: 4px;
  line-height: 1.1;
  padding-bottom: 30px;
}

.rooms_description {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  color: #191919;
  font-size: 28px;
  line-height: 1.2;
  /*margin-bottom: 150px;*/
}