.footer_title {
    font-family: "HelveticaNeue";
    font-size: 26px;
    color: #9d835a;
    letter-spacing: 1px;
}
.footer_text03 {
    height: 30px;
    gap: 17px;
    > p {
        font-family: "Noto Sans KR", sans-serif;
        font-size: 20px;
        color: #191919;
        letter-spacing: 1px;
        opacity: 75%;
    }
}

.divider {
    align-self: center;
}

.footer_text02 {
    gap: 38px;
    > p {
        font-family: "Noto Sans KR", sans-serif;
        font-size: 20px;
        color: #191919;
        letter-spacing: 1px;
        gap: 40px;
    }
}
.policy {
    font-weight: 600;
}

