.artcoll_gallery {
    display: flex;
    padding: 160px 160px 110px 160px;
}
.artcoll_gallery_image {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.artcoll_gallery_text {
    font-family: "helveticaNeue";
    font-size: 25px;
    line-height: 1.2;
    color: #191919;
    padding-top: 10px;
}