.of_box {
    position: relative;
}
.of_background_img {
    position: absolute;
}
.of_images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 275px;
}
.of_image_left {
    transform: translateY(290px);
}