.hotel_features {
    padding: 0 185px 100px 185px;
    justify-content: space-between;
}
.hotel_features_info_title {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #191919;
    padding: 100px 0 50px 185px;
}
.hotel_features_info_thead {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #9d835a;
}
.hotel_features_info_tbody {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #191919;
    opacity: 0.75;
}