.tgh_main_search_search_form_stack {
  color: #FFFCF6;
  padding: 37px 47px;
}

.tgh_main_search_search_form_title {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.tgh_main_search_search_form_info {
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
}