.gallery_box {
    display: flex;
    justify-content: space-between;
}
.gallery_image_box01 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 620px;
    z-index: 1;
}
.gallery_image_box02 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 620px;
    z-index: 1;
}
.gallery_text_highlight {
    font-family: "Crimson Text", serif;
    color: rgba(25, 25, 25, 0.15);
    font-size: 107px;
    line-height: 1.3;
    z-index: 0;
    margin-top: -70px;
}
.gallery_text {
    color: #191919;
}